.App {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header h1{
  font-size: 2em;
  background-color: rgb(255, 231, 10);
}

.App p {
  font-size: 1.5em;
  margin: 1.5em;
  padding: 0.5em 1em;
  color: black;
  border: 2px solid  rgb(250, 206, 12);
  border-radius: 3px;
}

.App button {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.5em 1em;
  color: black;
  background-color:  rgb(250, 206, 12);
  border: 2px solid  rgb(0, 0, 0);
  border-radius: 3px;
}


.App .footer {
  margin-top: 2em;
  font-size: 1em;
  color: white;
  background-color:  rgb(250, 206, 12);
  border: 2px solid  rgb(250, 206, 12);
  border-radius: 3px;
}

.App .navbar {
  padding: 1em;
  background-color:  rgb(250, 206, 12);
  border: 2px solid  rgb(250, 206, 12);
  border-radius: 3px;
}

Link {
  padding: 1em;
  font-size: 10em;
  color: white;
}

.App-menu {
  background-color:  rgb(250, 206, 12);
}

.menu Link {
  color: white;
  margin: 2em;
  /*display: inline;*/
  padding: 3em;
}

.post {
  color: black;
  font-size: 2em;
  margin: 2em;
  padding: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid  rgb(250, 206, 12);
  border-radius: 3px
}

.post2 {
  color: black;
  font-size: 1em;
  margin: 1em;
  padding: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
}